{% extends 'base.html' %}

{% block title %}Add Family Details - Simple Test{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Simple Test Template</h1>
            <p>If you can see this, the template is loading correctly.</p>
            
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                
                <div class="mb-3">
                    <label>Test Field</label>
                    <input type="text" class="form-control" name="test">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 