{% extends 'base.html' %}

{% block title %}Debug URLs - Global Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Debug URL Patterns</h4>
            </div>
            <div class="card-body">
                <h5>Available URLs:</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
                    <li><a href="{% url 'add_family_details' %}">Add Family Details</a></li>
                    <li><a href="{% url 'add_family_details_alt' %}">Add Family Details (Alt)</a></li>
                    <li><a href="{% url 'add_address' %}">Add Address</a></li>
                    <li><a href="{% url 'add_permanent_address' %}">Add Permanent Address</a></li>
                    <li><a href="{% url 'add_education' %}">Add Education</a></li>
                    <li><a href="{% url 'add_employment' %}">Add Employment</a></li>
                </ul>
                
                <h5 class="mt-4">Direct URLs:</h5>
                <ul>
                    <li><a href="/profile/family-details/">Direct: /profile/family-details/</a></li>
                    <li><a href="/profile/family_details/">Direct: /profile/family_details/</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 